@model MvcCv.Models.TblInterests 
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    <label>Yetenek</label>
    @Html.TextBoxFor(x => x.Interest, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Kaydet</button>

</form>

