@using MvcCv.Models
@model List<TblCertificates>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <table class="table table-bordered">
        <tr>

            <th>SERTİFİKALAR</th>
            <th>İŞLEMLER</th>
        </tr>

        @foreach (var x in Model)
        {
            <tr>

                <td>@x.Certificate</td>

                <td>
                    <a href="/Sertifikalar/Sil/@x.Id" class="btn btn-info", onclick="return confirm('Silmek İstiyor musunuz?')">Sil</a>

                    <a href="/Sertifikalar/Güncelle/@x.Id" class="btn btn-primary">Güncelle</a>
                </td>
            </tr>

        }

    </table>
    <a href="/Sertifikalar/Ekle" class="btn btn-danger">Ekle</a>




